body {
    background-image: url(spencer-watson-7OPzL-Y0O5o-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.container {
    background-color: #fff;
    width: 60%;
    height: 250px;
    border-radius: 30px;
    box-shadow: 0 0 10px;
}
#timer {
    text-align: center;
    padding: 35px;
    font-size: 60px;
}

.buttons {
    text-align: center;
    margin: 0 30px;
}

button i {
    font-size: 2rem;
    color: white;
    width: 50px;
    
}

.button {
    margin: 30px;
    padding: 10px;
}

#play {
    background-color: green;
}

#reset {
    color: red;
}

#pause {
    background-color: orange;
}
